html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
  padding-top: 40px;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
  overflow-y: overlay;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

@media (min-width: 900px) {
  ::-webkit-scrollbar {
    width: 6px;
    /* Hide scrollbar by setting width to 0 */
  }
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

.search-bar {
  border: none;
  outline: none;
  width: 350px;
}

.category-btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  padding: 4px 0 4px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.category-btn span {
  margin-bottom: 0px;
}

@media screen and (min-width: 900px) {
  .category-btn {
    padding: 16px 0 14px;
  }

  .category-btn span {
    margin-bottom: 2px;
  }

  .category-btn:hover {
    background-color: #333333 !important;
    color: white !important;
  }

  .category-btn:active {
    background-color: #706e6e !important;
    color: white !important;
  }

  .category-btn:hover span {
    color: white !important;
  }
}

@media screen and (max-width: 800px) {
  .copyright {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }

  .search-bar {
    width: 200px;
  }
}
